.footer{
    background: linear-gradient(113.49deg,#CBA15A  6.99%, #601005 94.29%);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
  font-size: clamp(0.9rem, 2vw, 1.2rem );  
}

.socials{
    display: flex;
}

.socials > *{
    margin-left: 0.3rem;
}